.header{
  width: 100%;
  max-width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  z-index: 1000;

   &-ttl,&-p{
    display: flex;
    align-items: center;
  }

  &-p{
    width: 160px;
    height: 70px;
    margin-left: 21px;
  }

  &-logo{
    display: block;
    width: auto;
    height: 33px;
  }
  &-span{
    margin-left: 16px;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.3;
  }
  strong{
    font-size: 18px;
    font-weight: 900;
  }
}

@media (max-width: 1280px) {
  .header-span{
    display: none;
  }
}

@media (max-width: 1200px){
  .header{
    height: 50px;
    max-width: 100%;

    &-logo{
      height: 30px;
    }

    &-p{
      margin-left: 10px;
    }
  }
  .nav{
    display: none;
  }
}

//----- nav PC版 ------//

@media(min-width: 1201px) {

.nav{
  &-list{
    height: 70px;
    list-style: none;
    display: flex;
  }

  &-list-item{
    line-height: 70px;
    font-size: 17px;
    font-weight: 900;
    padding: 0 15px;
    position: relative;
  }

  &-list-item:hover{
    background-color: #d4f1f8;
  }

  &-list-item:nth-child(7){
    background-color: #2498b3;
  }


  .apply{
      color: #fff;
    }
  }


// PC版  ドロップダウンメニュー//

  
.dropdown{
  display: none;
  z-index: 1200;
  width: 250px;
  font-size: 15px;
  font-weight: 400;
  line-height: 2.5;
  background:#e9f8fb;
  position: absolute;
  left: 0;
  top: 70px;
  list-style: none;

  &__item{
    padding: 10px 0 10px 10px;
    white-space: nowrap;
  }
    
  &__item:hover{
    background-color:#fff;
    transition: all 0.5;

    & a{
      color: #2498b3;
      transition: all 0.5;
    }
  }
}

.dropdown-short{
  display: none;
  z-index: 1200;
  width: 200px;
  font-size: 15px;
  font-weight: 400;
  line-height: 2.5;
  background:#e9f8fb;
  position: absolute;
  left: 0;
  top: 70px;
  list-style: none;
}


.nav-list .open{
  display: block;
}

.nav-list .close{
  display: block;
}
}

// SF版 ハンバーガーメニューのボタン//

@media(max-width: 1200px){
  .btn {
    position: relative;
    width: 48px;
    height: 48px;
    cursor: pointer;
  } 

  .btn__menu{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 2px;
    background:#2498b3;
    margin: 0;
    padding: 0;
    border: none;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  
  .btn__menu::before{
    display: block;
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2498b3;
    transition: all 0.25s;
  }
  
  .btn__menu::after{
    display: block;
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2498b3;
    transition: all 0.25s;
  }
  
  .btn.active{
    background-color: #2498b3;
  }

  .btn__menu.active{
    background: transparent;
  }
  
  .btn__menu.active::before{
    top: 0;
    transform: rotate(-45deg);
    background: #fff;
  }
  
  .btn__menu.active::after{
    bottom: 0;
    transform: rotate(45deg);
    background: #fff;
  }

//  SP版 ハンバーガーメニューのメインメニュー//

  .nav{
    display: block;
    position: absolute;
    max-width: 100%;
    width: 100%;
    top: 50px;
    left: -120%;
    z-index: 1500;

    &-list{
      display: block;
      height: 50px;
    }

    &-list-item{
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 50px;
      background-color:#fff;
      width: 100%;

      &:nth-child(7){
        display: none;
      }
    }
  }

  .nav-list-item a, .nav-list-item p{
    padding-left: 10px;
  }

  .nav-list-item a:hover,
  .nav-list-item p:hover, 
  .dropdown__item:hover{
    background-color: #f3fafb;
  }


  .nav.active{
    left: 0;
  }

//   // メインメニューの＋/-ボタン //

.nav-list-item{
  position: relative;
}

.nav-btn{
  position: absolute;
  right: 0px;
  width: 48px;
  height: 50px;
  // background-color: #f7f7f7;
}

/* 二本の横棒を作成する */
.nav-btn::before,
.nav-btn::after {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  background:#000;
  position: absolute;
  right: 12px;
  top: 50%;
}

/* 2本の横棒のうち一本は縦棒にする */
.nav-btn::after {
  background:#000;
  transform: translateY(-50%) rotate(90deg);
}

/*
プラスがクリックされたら縦棒を横にしてマイナスにする疑似要素
jQueryで付け外しを行う
*/
.nav-btn.is-open::after {
  transform: rotate(0);
  // transition: 0.5s;
}



//   // ハンバーガーメニューのドロップダウンアイテム //
  
  .dropdown, .dropdown-short{
    display: none;
    list-style: none;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    top: 50px;
  }

  .dropdown__item{
      padding-left: 20px;
      color: #000;
      font-weight: 300;;

      &:hover a{
       color: #000;
      }
  }

} //@media(max-width: 1200px)ここまで
