@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  color: black;
}

.header {
  width: 100%;
  max-width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
}

.header-ttl, .header-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-p {
  width: 160px;
  height: 70px;
  margin-left: 21px;
}

.header-logo {
  display: block;
  width: auto;
  height: 33px;
}

.header-span {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.3;
}

.header strong {
  font-size: 18px;
  font-weight: 900;
}

@media (max-width: 1280px) {
  .header-span {
    display: none;
  }
}

@media (max-width: 1200px) {
  .header {
    height: 50px;
    max-width: 100%;
  }
  .header-logo {
    height: 30px;
  }
  .header-p {
    margin-left: 10px;
  }
  .nav {
    display: none;
  }
}

@media (min-width: 1201px) {
  .nav-list {
    height: 70px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-list-item {
    line-height: 70px;
    font-size: 17px;
    font-weight: 900;
    padding: 0 15px;
    position: relative;
  }
  .nav-list-item:hover {
    background-color: #d4f1f8;
  }
  .nav-list-item:nth-child(7) {
    background-color: #2498b3;
  }
  .nav .apply {
    color: #fff;
  }
  .dropdown {
    display: none;
    z-index: 1200;
    width: 250px;
    font-size: 15px;
    font-weight: 400;
    line-height: 2.5;
    background: #e9f8fb;
    position: absolute;
    left: 0;
    top: 70px;
    list-style: none;
  }
  .dropdown__item {
    padding: 10px 0 10px 10px;
    white-space: nowrap;
  }
  .dropdown__item:hover {
    background-color: #fff;
    -webkit-transition: all 0.5;
    transition: all 0.5;
  }
  .dropdown__item:hover a {
    color: #2498b3;
    -webkit-transition: all 0.5;
    transition: all 0.5;
  }
  .dropdown-short {
    display: none;
    z-index: 1200;
    width: 200px;
    font-size: 15px;
    font-weight: 400;
    line-height: 2.5;
    background: #e9f8fb;
    position: absolute;
    left: 0;
    top: 70px;
    list-style: none;
  }
  .nav-list .open {
    display: block;
  }
  .nav-list .close {
    display: block;
  }
}

@media (max-width: 1200px) {
  .btn {
    position: relative;
    width: 48px;
    height: 48px;
    cursor: pointer;
  }
  .btn__menu {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 2px;
    background: #2498b3;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .btn__menu::before {
    display: block;
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2498b3;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  .btn__menu::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2498b3;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
  .btn.active {
    background-color: #2498b3;
  }
  .btn__menu.active {
    background: transparent;
  }
  .btn__menu.active::before {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background: #fff;
  }
  .btn__menu.active::after {
    bottom: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #fff;
  }
  .nav {
    display: block;
    position: absolute;
    max-width: 100%;
    width: 100%;
    top: 50px;
    left: -120%;
    z-index: 1500;
  }
  .nav-list {
    display: block;
    height: 50px;
  }
  .nav-list-item {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 50px;
    background-color: #fff;
    width: 100%;
  }
  .nav-list-item:nth-child(7) {
    display: none;
  }
  .nav-list-item a, .nav-list-item p {
    padding-left: 10px;
  }
  .nav-list-item a:hover,
  .nav-list-item p:hover,
  .dropdown__item:hover {
    background-color: #f3fafb;
  }
  .nav.active {
    left: 0;
  }
  .nav-list-item {
    position: relative;
  }
  .nav-btn {
    position: absolute;
    right: 0px;
    width: 48px;
    height: 50px;
  }
  /* 二本の横棒を作成する */
  .nav-btn::before,
  .nav-btn::after {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    background: #000;
    position: absolute;
    right: 12px;
    top: 50%;
  }
  /* 2本の横棒のうち一本は縦棒にする */
  .nav-btn::after {
    background: #000;
    -webkit-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg);
  }
  /*
プラスがクリックされたら縦棒を横にしてマイナスにする疑似要素
jQueryで付け外しを行う
*/
  .nav-btn.is-open::after {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .dropdown, .dropdown-short {
    display: none;
    list-style: none;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    top: 50px;
  }
  .dropdown__item {
    padding-left: 20px;
    color: #000;
    font-weight: 300;
  }
  .dropdown__item:hover a {
    color: #000;
  }
}

.main {
  width: 100%;
}

.mainvisual {
  width: 100%;
  max-width: 100%;
  height: 650px;
  position: relative;
  top: 70px;
}

.layer-top {
  width: 100%;
  height: 650px;
  position: absolute;
  z-index: 300;
  background: url(../img/bg-hero1.png) no-repeat center center;
}

.layer-middle {
  width: 100%;
  height: 650px;
  position: absolute;
  z-index: 200;
  background: url(../img/bg-hero2.png) no-repeat center center;
}

.layer-bottom {
  width: 100%;
  height: 650px;
  position: fixed;
  z-index: 100;
  background: url(../img/bg-hero3.png) no-repeat center center;
}

.main-bg-black {
  width: 100%;
  height: 230px;
  padding: 50px 0;
  position: absolute;
  top: 720px;
  z-index: 400;
  background-color: #000;
}

@media (max-width: 1200px) {
  .layer-top, .layer-middle {
    top: -20px;
  }
  .layer-bottom {
    top: 50px;
  }
  .main-bg-black {
    top: 700px;
    height: 250px;
  }
}

@media (max-width: 767px) {
  .layer-top, .layer-middle {
    height: 320px;
    max-width: 100%;
    background-size: cover;
    background-position: top;
    top: -50px;
  }
  .layer-bottom {
    height: 320px;
    max-width: 100%;
    background-size: cover;
    top: -50px;
  }
  .main-bg-black {
    padding: 64px 0;
    top: 360px;
    height: 1250px;
  }
}

@media (max-width: 650px) {
  .main-bg-black {
    height: 1300px;
  }
}

.school-overview-box {
  height: 327px;
  width: 418px;
  border-radius: 5%;
  background-color: #fff;
  position: absolute;
  z-index: 800;
  top: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.overview-content {
  padding: 40px 10px 5px 10px;
  margin: 0 auto;
}

.overview-content img {
  display: block;
  width: 280px;
  height: 58.75px;
  margin: 0 auto;
}

.overview-content p {
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
  line-height: 1.7;
  padding: 20px 0;
}

.button {
  width: 290px;
  height: 68px;
  background-color: #2498b3;
  margin: 10px auto 0 auto;
  border-radius: 4px;
}

.button a {
  color: #fff;
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
  line-height: 68px;
}

@media (max-width: 767px) {
  .school-overview-box {
    width: 100%;
    height: 156px;
    border-radius: 0%;
    top: 210px;
    padding: 9px 0 13px;
  }
  .overview-content {
    padding: 0;
  }
  .overview-content img {
    display: none;
  }
  .overview-content p {
    height: 66px;
    margin: 6.5px 0;
    padding: 0;
    font-size: 1.3rem;
  }
  .button {
    width: 228px;
    height: 42px;
    border-radius: 5px;
  }
  .button a {
    line-height: 42px;
    font-size: 15px;
    text-align: center;
  }
}

.appealpoint {
  width: 100%;
  max-width: 100%;
  height: 200px;
  position: relative;
  z-index: 500;
  top: -130px;
}

.appealpoint-container {
  width: 1078px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.appealpoint-item {
  margin: 0 50px;
}

.appealpoint-text {
  color: #fff;
  text-align: center;
}

.appealpoint-text dt {
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 10px 0;
}

.appealpoint-text dd {
  font-size: 1.5rem;
  font-weight: bolder;
}

.circle {
  width: 230px;
  max-width: 100%;
  height: 230px;
  background-color: #fff;
  border: 5px solid black;
  border-radius: 50%;
  margin: 0 auto;
}

.circle i {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 230px;
}

.size {
  font-size: 10rem;
}

@media (max-width: 1078px) {
  .appealpoint-item {
    margin: 0 3%;
  }
}

@media (max-width: 767px) {
  .appealpoint {
    top: -200px;
  }
  .appealpoint-container {
    display: block;
  }
  .appealpoint-item {
    padding-bottom: 60px;
  }
  dd br {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */